[user]
  email = coslove8866@gmail.com
  name = GSLiTW
[core]
  autocrlf = false
  safecrlf = true
  editor = cursor --wait
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  pushf = push --force-with-lease --force-if-includes
[diff]
  tool = cursor
  guitool = cursor
[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = cursor
  guitool = cursor
[mergetool "code"]
    cmd = code --wait $MERGED
[fetch]
  prune = true
[pull]
  rebase = true
[submodule]
  recurse = true
[difftool "cursor"]
  cmd = cursor --wait --diff $LOCAL $REMOTE
[mergetool "cursor"]
  cmd = cursor --wait $MERGED
[fetch]
	prune = true
