[user]
       email = coslove8866@gmail.com
       name = GSLiTW
[core]
       autocrlf = false
       safecrlf = true
	editor = \"C:\\Users\\coslo\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[alias]
       co = checkout
       ci = commit
       st = status
       br = branch
       hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
       type = cat-file -t
       dump = cat-file -p
[diff]
       tool = vscode
       guitool = vscode
[difftool "vscode"]
       cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
    guitool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[http]
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[fetch]
	prune = true
